* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #68fe9a;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  justify-self: flex-end;
  text-align: center;
  margin: 70px 0 50px;
}

#countdown {
  width: 70%;
  font-size: 48px;
  text-align: center;
  background-color: #68fe9a;
  color: #060606;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 4px;
}

#countdown-input {
  text-align: center;
}

#countdown-input label {
  font-size: 20px;
}

#countdown-input input {
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
}

#countdown-start {
  width: 50%;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgba(104, 254, 154, 0.9);
  color: #060606;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.5s linear;
}

#countdown-start:hover {
  background-color: #68fe9a;
  transition: background-color;
}

#countdown-date {
  margin-bottom: 70px;
}

.container {
  width: 80%;
  max-width: 500px;
  height: 70%;
  border-radius: 10px;
  background-color: #060606;
  color: #fefaf1;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
